html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
div,span,article,section,header,footer,p,li,ol,ul,label{
box-sizing: border-box;
}

@font-face{
  font-family: 'Roboto', sans-serif;
}
body{
  font-family: 'Roboto', sans-serif;
  word-break: keep-all;
}
aside{
flex: 1;
margin-bottom: -7px;
}
h1{
font-weight: 500;
color: red;
font-size: 30px;
}
p{
margin-left: 50px;
margin-right: 50px;
margin-top: 0 auto;
margin-bottom: 0 auto;
}
text{
margin-left: 20px;
margin-right: 20px;
}
strong:hover{
color: black;
cursor: pointer;
}
span{
display: none;
}
img{
cursor: help;
}
a{
cursor: pointer;
color: blue;
text-decoration: underline;
}
a:hover{
color: black;
text-decoration: none;
}


.container-all{
display: flex;
flex-direction: column;
width: 200vw;
}
.container-1{
display: flex;
flex-direction: row;
font-size: 30vw;
flex: 1;
line-height: 68%;
}
.container-2{
display: flex;
flex-direction: row;
align-items: center;
}
.container-a2{
display: flex;
flex-direction: row; column;
align-items: center;
height: auto; 100vh;
width: 100vw;
background: white;
}
.container-b2{
display: flex;
flex-direction: row;
width: 100vw;
}
.container-a3{
display: flex;
flex-direction: row;
width: 100vw;
}
.container-a4{
display: flex;
flex-direction: row;
width: 100vw;
}

.item{
text-align: center;
}
.item1{
flex: 1;
background: white;
}
.item2{
flex: 0.7;
background: white;
}
.item3{
flex: 2;
background: #c3c4bd;
color: gray;
font-size: 16px;
}
.item4{
flex: 0.2;
background: pink;
font-size: 20px;
}
.item5{
flex: 1;
/* background: yellowgreen; */
font-size: 6vw;
}
.item6{
flex: 1;
/* background: yellow; */
margin-top: 20px;
margin-left: 100px;
margin-right: 100px;
}
.item7{
flex:15;
}
.item8{
flex: 1;
/* 텍스트 세로정렬 */
writing-mode: vertical-lr;
-webkit-writing-mode: vertical-lr;
-ms-writing-mode: vertical-lr;
font-size: 6vw;
}
.item9{
flex:15;
}
.item10{
flex: 1;
margin-top: 30px;
margin-bottom: 10vh;
}

body::-webkit-scrollbar{
/* 스크롤바 막대 너비 설정 */
width: 20px;
}
body::-webkit-scrollbar-thumb{
/* 스크롤바 막대 높이 설정 */
height: 17%;
background-color: #F7ACBA;
/* 스크롤바 둥글게 설정 */
border-radius: 10px;
}
body::-webkit-scrollbar-track{
background-color: rgba(0,0,0,0);
}



@media screen and (max-width:768px) {
 
}

@media screen and (max-width:640px) {
 /*.m-item1{
  flex-direction: column;
 }
 .m-item2{
  flex-direction: column;
 }*/
 /*.container-all{
  width: 200vw;
 }*/
 .container-1{
  font-size: 40rem;
 }
 /*.container-a2, .container-b2, .container-a3, .container-a4{
  width: 100vw;
 }*/
}


